<h2>hell0</h2>

<h2>Movie Lists</h2>
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    <% end %>
    <%= link_to 'Create a list', new_list_path %>
  </ul>
